@import "tailwindcss";

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-slate-300, currentColor);
    }
}

@theme {
--color-color-50: #343434;
--color-color-100: #343434;
--color-color-200: #343434;
--color-color-300: #343434;
--color-color-400: #343434;
--color-color-500: #343434;
--color-color-600: #343434;
--color-color-700: #343434;
--color-color-800: #343434;
--color-color-900: #343434;
--color-color-1000: #343434;

}

.toggle-checkbox:checked {
    right: 0;
    --tw-bg-opacity: 1;
}

.toggle-checkbox:checked + .toggle-label {
    --tw-bg-opacity: 1;
    outline: 2px none transparent;
    outline-offset: 2px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f7eef4;
    border-radius: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #223952;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #223952;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-down {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.Resizer {
    opacity: 0;
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}

.animate-slide-down {
    animation: slide-down 0.3s ease-in forwards;
}

.swal2-confirm {
    border: 0;
    border-radius: 0.3em;
    background: initial;
    background-color: #431456;
    color: #fff;
    font-size: 1em;
}

.copilotKitMessages {
    font-family: "Arial, sans-serif";
    font-size: 18px;
    overflow-x: hidden;
}

.copilotKitInput {
    font-family: "Arial, sans-serif";
}

input::file-selector-button {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e5e5;
    scrollbar-color: initial;
    scrollbar-width: initial;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    margin: 2px;
    padding: 0.5rem;
    text-transform: none;
    -webkit-appearance: button;
    background-color: transparent;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #343434 var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #e4e4e4 var(--tw-gradient-to-position);
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

input[type="file"]::file-selector-button:hover {
    background: #8b5cf6;
}

.swal2-file {
    color: #343434;
    box-sizing: border-box;
    border: 1px solid #343434;
    margin: 5px;
    padding: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.swal2-file:hover {
    border-color: rgb(59 130 246 / 0.5);
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 2px 3px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tooltip-container {
    --tooltipBackground: #262640;
    --tooltipBorder: #262640;
    --tooltipColor: white;
    background-color: var(--tooltipBackground);
    border-radius: 4px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.63);
    color: var(--tooltipColor);
    display: flex;
    flex-direction: column;
    padding: 6px;
    word-break: break-words;
    max-width: 24rem;
    transition: opacity 0.5s;
    z-index: 999999;
}

.tooltip-container[data-popper-interactive="false"] {
    pointer-events: none;
}

.tooltip-arrow {
    height: 1rem;
    position: absolute;
    width: 1rem;
    pointer-events: none;
}

.tooltip-arrow::before {
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    margin: auto;
    width: 0;
}

.tooltip-arrow::after {
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    margin: auto;
    position: absolute;
    width: 0;
}

.tooltip-container[data-popper-placement*="bottom"] .tooltip-arrow {
    left: 0;
    margin-top: -0.4rem;
    top: 0;
}

.tooltip-container[data-popper-placement*="bottom"] .tooltip-arrow::before {
    border-color: transparent transparent var(--tooltipBorder) transparent;
    border-width: 0 0.5rem 0.4rem 0.5rem;
    position: absolute;
    top: -1px;
}

.tooltip-container[data-popper-placement*="bottom"] .tooltip-arrow::after {
    border-color: transparent transparent var(--tooltipBackground) transparent;
    border-width: 0 0.5rem 0.4rem 0.5rem;
}

.tooltip-container[data-popper-placement*="top"] .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-bottom: -1rem;
}

.tooltip-container[data-popper-placement*="top"] .tooltip-arrow::before {
    border-color: var(--tooltipBorder) transparent transparent transparent;
    border-width: 0.4rem 0.5rem 0 0.5rem;
    position: absolute;
    top: 1px;
}

.tooltip-container[data-popper-placement*="top"] .tooltip-arrow::after {
    border-color: var(--tooltipBackground) transparent transparent transparent;
    border-width: 0.4rem 0.5rem 0 0.5rem;
}

.tooltip-container[data-popper-placement*="right"] .tooltip-arrow {
    left: 0;
    margin-left: -0.7rem;
}

.tooltip-container[data-popper-placement*="right"] .tooltip-arrow::before {
    border-color: transparent var(--tooltipBorder) transparent transparent;
    border-width: 0.5rem 0.4rem 0.5rem 0;
}

.tooltip-container[data-popper-placement*="right"] .tooltip-arrow::after {
    border-color: transparent var(--tooltipBackground) transparent transparent;
    border-width: 0.5rem 0.4rem 0.5rem 0;
    left: 6px;
    top: 0;
}

.tooltip-container[data-popper-placement*="left"] .tooltip-arrow {
    margin-right: -0.7rem;
    right: 0;
}

.tooltip-container[data-popper-placement*="left"] .tooltip-arrow::before {
    border-color: transparent transparent transparent var(--tooltipBorder);
    border-width: 0.5rem 0 0.5rem 0.4em;
}

.tooltip-container[data-popper-placement*="left"] .tooltip-arrow::after {
    border-color: transparent transparent transparent var(--tooltipBackground);
    border-width: 0.5rem 0 0.5rem 0.4em;
    left: 3px;
    top: 0;
}

/* styles/globals.css */

/* Reset or global overrides */
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fefefe;
    color: #2c3e50;
}

input {
    border-radius: 8px;
}

/* Optionally define a color scheme or variables here */
:root {
    --bg-color: #ffffff;
    /* Primary background */
    --text-color: #000000;
    /* Primary text color */
    --accent-orange: #ff8c00;
    /* Accent color for buttons, highlights */
    --positive-green: #32cd32;
    /* Positive metric color */
    --font-family-base: "Roboto", "Open Sans", sans-serif;
    --border-radius: 6px;
    /* Slightly rounded edges for cards */
    --box-shadow-card: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --card-padding: 1.5rem;

    --primary-color: #343434;
    --secondary-color: #646464;
    --border-color: #343434;
    --alert-red: #ae3020;
    --tertiary-green: #8a966e;
}

/* Additional global styles or resets can go here */
